/* Party Form */
.partyForm {
  margin: var(--spacing-sm) 0;
}

.partyForm input {
  text-transform: capitalize;
}

/* Checkboxes */

input[type="checkbox"] {
  margin: 10px;
}

.checkboxes {
  background-color: var(--color-white);
  margin-top: 30px;
  padding: 15px;
  border-radius: var(--spacing-md);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: var(--spacing-sm);
  text-align: left;
}

.checkboxContainer {
  flex-basis: 18%;
}

.checkboxContainer :is(input, label) {
  cursor: pointer;
}
