.App {
  text-align: center;
}

/* General */
html {
  font-size: 125%;
  line-height: 1.5rem;
  background-color: var(--color-primary);
}

.wrapper {
  max-width: 1440px;
  width: 90%;
  margin: 0 auto;
}

section,
fieldset,
h1,
h2,
h3,
p,
ul,
ol,
li,
button {
  margin: 0;
  padding: 0;
  transition: 0.3s;
}

li {
  list-style-type: none;
  width: 100%;
}

label {
  margin-right: var(--spacing-sm);
}

input[type="text"] {
  border: none;
  padding: 5px 15px;
  border-radius: var(--spacing-md);
  margin-top: var(--spacing-sm);
}

fieldset,
button {
  border: none;
}

.btnContainer {
  margin-top: 30px;
}

.btn {
  padding: 15px;
  border-radius: 40px;
  background-color: var(--color-secondary);
  color: var(--color-white);
  text-transform: uppercase;
  transition: all 0.3s;
  cursor: pointer;
  width: 222px;
  z-index: 10;
}

.btn:hover,
.btn:focus {
  background-color: var(--color-tertiary);
}

.sectionPadding {
  padding: 5% 0;
}

.relContainer {
  position: relative;
}

.block {
  display: block;
}

/* Huge thanks to the Shape Divider App at https://www.shapedivider.app/ for the easy wave shaped SVG */

/* Wave SVGs*/
.wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  fill: var(--color-primary);
  margin-bottom: -1px;
}

.wave svg {
  position: block;
  display: block;
  width: calc(139% + 1.3px);
  height: 147px;
}

/* BgWaveTwo */
.waveTwo {
  fill: var(--color-tertiary);
  z-index: -1;
}

.waveTwo svg {
  position: block;
  display: block;
  width: calc(100% + 1.3px);
  height: 158px;
}
