/* Header & Footer */
header p {
  font-size: 1.1rem;
}

.headerContainer {
  background-color: var(--color-header-bg);
}

.textContainer {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-sm);
  padding: 2% 0 5%;
}

footer {
  margin-top: 25px;
  padding: 3px;
  background-color: var(--color-tertiary);
}

footer p {
  color: var(--color-primary);
  font-size: 0.9rem;
}
