/* Header & Footer */
header p {
  font-size: 1.1rem;
}

footer {
  margin-top: 25px 0;
  padding: 3px;
  background-color: var(--color-tertiary);
}

footer p {
  color: var(--color-primary);
  font-size: 0.9rem;
}

/* Relative container for Wave SVG */
.headerContainer {
  background-color: var(--color-header-bg);
  padding-bottom: 5%;
  position: relative;
}

.textContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  padding-top: 50px;
}

.iconTextDiv {
  display: flex;
  justify-content: center;
  width: 75%;
  margin: 10px 0;
}

.hearts {
  margin-top: 20px;
}
