@import url('https://fonts.googleapis.com/css2?family=Judson:wght@700&family=Lato&display=swap%27');

html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

html { box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

/* Colours
#D3CFE6 - white-blue
#260755 - purple-blue
#871A3E - maroon-red
*/

.App {
  text-align: center;
}

/* General */
html {
  font-size: 125%;
  line-height: 1.5rem;
  background-color: #D3CFE6;
}

.wrapper {
  max-width: 1260px;
  width: 90%;
  margin: 0 auto;
}

section, fieldset, h1, h2, h3, p, ul, li, button {
  margin: 0;
  padding: 0;
  transition: .3s;
}

li {
  list-style-type: none;
  width: 100%;
}

label {
  margin-right: 10px;
}

input {
  border: none;
  padding: 5px 15px ;
  border-radius: 20px;
  margin-top: 10px;
}

fieldset, button {
  border: none;
}

.faIcon {
  font-size: 2rem;
  color:#871A3E;
}

.btn {
  padding: 15px;
  border-radius: 40px;
  background-color: #871A3E;
  color: white;
  text-transform: uppercase;
  transition: all .3s;
  cursor: pointer;
  width: 222px;
}

.btn:hover, 
.btn:focus {
  background-color: #260755;
}

/* Huge thanks to the Shape Divider App at https://www.shapedivider.app/ for the easy wave shaped SVG */

/* Wave SVG used in Header and Party Preview sections */
.wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  fill: #D3CFE6;
  margin-bottom: -1px;
}

.wave svg {
  position: block;
  display: block;
  width: calc(139% + 1.3px);
  height: 147px;
}

/* Wave SVG used in Forms section*/
.waveForms {
  fill: #260755;
}

.waveForms svg {
  position: block;
  display: block;
  width: calc(100% + 1.3px);
  height: 158px;
}

/* Typography */
h1 {
  font-family: 'Judson', serif;
  letter-spacing: 1px;
  font-size: 3.5rem;
  line-height: 1;
  margin-bottom: 20px;
  background: rgb(135,26,62);
  background: linear-gradient(
    90deg, 
    rgba(135,26,62,1) 0%, 
    rgba(38,7,85,1) 100%
    );   
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-transform: uppercase;
}

h2, h3 {
  font-family: 'Judson', serif;
  text-transform: uppercase;
}

h2 {
  font-size: 2rem;
  color: #260755;
  padding: 20px;
  line-height: 1;
}

h3 {
  font-size: 1.4rem;
  color: #871A3E;
  letter-spacing: 3px;
  padding-top: 10px;
}

a {
  font-family: "Lato", sans-serif;
  text-decoration: none;
  color: #D3CFE6;
  transition: .3s;
}

a:hover, a:focus {
  color: white;
}

p, legend, label, button {
  font-family: 'Lato', sans-serif;
  color: #260755;
  font-size: 1rem;
}

legend {
  margin-bottom: 20px;
  text-align: center;
  width: 100%;
}

/* Header & Footer */
header p {
  font-size: 1.1rem;
}

footer {
  margin-top: 25px 0;
  padding: 3px;
  background-color: #260755;
}

footer p {
  color: #D3CFE6;
  font-size: 0.9rem;
}

/* Relative container for Wave SVG */
.headerContainer {
  background-color: #F9F2ED;
  padding-bottom: 5%;
  position: relative;
}

.textContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  padding-top: 50px;
}

.iconTextDiv {
  display: flex;
  justify-content: center;
  width: 75%; 
  margin: 10px 0;
}

.hearts {
  margin-top: 20px;
}

/* Party Form */
.partyForm {
  margin: 10px 0;
}

.partyForm input {
  text-transform: capitalize;
}

/* Checkboxes */

/* Relative container for Wave SVG */
.checkBoxContainer {
  position: relative;
  padding-bottom: 110px;
}

.guestForm .guestNameBox {
  margin: 10px 0;
}

.guestForm .guestNameBox input {
  text-transform: capitalize;
}

.guestForm .checkboxes {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  justify-content: space-between;
}

.guestForm .checkboxes label {
  width: 200px;
  cursor: pointer;
}

.guestForm .checkboxes input {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-right: 5px;
}

.checkboxes {
  background-color: white;
  padding: 30px;
  border-radius: 20px;
  margin-top: 50px;
}

.buttonContainer {
  margin: 50px;
}

#partyChoice {
  border: none;
  padding: 5px 10px;
  background-color: white;
}

/* Party Preview Section (includes Dropdown.js & GuestList.js component) */

/* Relative container for Wave SVG */
.partyPreview {
    padding: 25px 0 100px 0;
    display: flex;
    flex-direction: column;
    background-color: #260755;
    position: relative;
}

.partyPreview h2, 
.partyPreview legend,
.partyPreview label {
  color:#D3CFE6;
}

.partyPreview .btn:hover, 
.partyPreview .btn:focus {
  background-color: #D3CFE6;
  color:#260755;
}

/* Dropdown component */
.dropdown {
    text-align: center;
    padding-bottom: 25px;
}

.dropdownForm fieldset {
  padding-bottom: 50px;
}

fieldset div {
  margin-bottom: 30px;
}

/* Guest List component */
.guestList {
  width: 100%;
}
.summaryContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.guestName {
  text-align: left;
  width: 50%;
  padding-left: 50px;
}

/* Credit to Tiffany Rayside's Hand Drawn Border Effects Codepen for the border radius values here: https://codepen.io/tmrDevelops/pen/NPXodB */
.partySummary {
    display: flex;
    justify-content: center;
    width: 85%;
    background-color: #F5F5F5;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}

.partySummary p {
    color: grey;
    text-transform: capitalize;
    padding: 5px;
}

.guestRestrictions {
    text-align: left;
}

/* RECIPE IMAGE STYLING */
.Recipe {
  background-color: #d3cfe6;
  padding: 50px 0;
}

.recipeList {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-evenly;
  gap: 10px;
  padding: 0;
  transition: transform 0.1s;
}

.individualRecipe {
  width: 250px;
  padding-bottom: 50px;
  padding: 20px;
  background-color: white;
  border-radius: 5%;
  margin-bottom: 20px;
  transition: transform 0.2s;
  box-shadow: 0 0 10px #948c90;
}

.individualRecipe:hover, 
.individualRecipe:focus-within {
  transform: scale(1.08);
}
.individualRecipe img {
  width: 100%;
  border-radius: 5%;
}

.individualRecipe a {
  color: #260755;
  font-size: 1.25rem;
  text-decoration: none;
}

.individualRecipe:hover p, 
.individualRecipe:focus-within p {
  color: #871a3e;
}

.cssanimation {
  animation-name: fadeInBottom;
  animation-duration: 2s;
  animation-fill-mode: both;
}

@keyframes fadeInBottom {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
  }
}

/* Media Queries */
@media (max-width: 1150px) {
  .guestName {
    width: 30%;
  }
  
  .partySummary {
    width: 100%;
  }
}

@media (max-width:750px) {
  .textContainer {
    padding-bottom: 20px;
  }
  
  .partySummary {
    flex-direction: column;
  }
  
  .guestName{
    width: 100%;
    text-align: center;
    padding: 0 10px;
  }
  
  .guestRestrictions{
    text-align: center;
    padding: 0 10px;
  }
}

@media (max-width: 550px) {
  h1 {
    font-size: 2.5rem;
  }

  h3{
    font-size: 1.2rem;
    letter-spacing: 0px;
  }

  footer p {
    font-size: 0.8rem;
    padding: 0 10px;
  }

  .iconTextDiv {
    flex-direction: column;
  }

  .faIcon {
    padding-top: 10px;
  }
  .utensils {
    order: 1;
  }

  .buttonContainer{
    margin: 50px auto; 
  }

  .guestForm .checkboxes label {
    width: 175px;
  }
}

@media (max-width: 494px){
  .textContainer {
    padding-bottom: 30px;
  }

  .partyForm fieldset,
  .guestNameBox {
    display: flex;
    flex-direction: column;
  }

  .partyForm input,
  .guestNameBox input {
    width: 100%;
  }

  .guestForm .checkboxes{
    justify-content: center;
  }
}